/* src/app/globals.css */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
}